:root[color-scheme="light"] {
    
    --main-color:hsl(0, 0%, 98%);
    --surface-color:hsl(236, 33%, 92%);
    --secondary-color:hsl(233, 11%, 84%);
    --accent-color:hsl(236, 9%, 61%);
    --secondary-accent-color:hsl(235, 19%, 35%);
    --background:url(images/bg-mobile-light.jpg);
    

}
:root[color-scheme="dark"] {
    --main-color:hsl(235, 24%, 19%);
    --surface-color:hsl(235, 21%, 11%);
    --secondary-color:hsl(233, 14%, 35%);
    --accent-color:hsl(234, 11%, 52%);
    --secondary-accent-color:hsl(234, 39%, 85%);
    --secondary2-accent-color:hsl(237, 14%, 26%);
    --background:url(images/bg-mobile-dark.jpg)




}
:root[color-scheme="light"].light--hidden{
    display:none;
}
:root[color-scheme="dark"].dark--hidden{
    display:none;
}

*{
    margin:0;
    padding:0;
    box-sizing:box-shadow;
}
body{
    background:var(--surface-color)
}
.main-input-holder{
   
    background-image:var(--background);
    background-size: cover;
    padding:5rem;
    color:var(--main-color);
    text-align:center;

}
.main-heading{
    display: flex;
    justify-content: center;
    margin:0 20px;
}
.heading{
    text-transform: uppercase;
    letter-spacing: 5px;
    color:var(--main-color)
}
.input-text{
    width:400px;
    padding:30px 50px;
    border-radius: 5px;
    outline:none;
    border:none;
    margin-top:20px;
    background-color: var(--main-color);
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.add-list{
    background: var(--main-color);
    width:400px;
    padding:30px 50px;
    border-radius: 5px;
    transform: translateY(-30px);
}
.task-management-section{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    
}
.filter-section{
    margin:0 20px;
}
.style-button{
    border:none;
    appearance:none;
    outline:none;
    background:none;
}
.style-button:hover{
    color:hsl(220, 98%, 61%);

}
.btn{
    margin:0 10px;
}
.added-input{
    margin:0 10px;
    width:70%;
    border:none;
    outline:none;
    padding:5px;
    color:var(--secondary-accent-color);
    background-color:inherit;
    font-size:20px;
}


.checkbox{
    border-radius:75%;
    background-image:linear-gradient(rgb(87, 221, 255),rgb(192, 88, 243))
}



@media (max-width:700px){
    
        .filter-section{
            max-width:100%;
            width:50rem;
        }
        #todo-app-container {
            margin:0 20rem;
    min-height:100vh;

        }
    
    
}
